@import url(product.css);
@import url(cart.css);
@import url(checkout.css);
@import url(sidebar.css);
@import url(home.css);

/* fontawsome */
@import url(/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css);
@import url(/node_modules/@fortawesome/fontawesome-free/css/brands.css);
@import url(/node_modules/@fortawesome/fontawesome-free/css/solid.css);






/* //----------------------------------// */
/* {{{css for header:}}} */
.header{
height: 45px;
/* background-color: #c7ecee;  */
border-bottom: 1px solid #30336b;
border-radius: 2px;
padding-right: 5px;
}
.header a{
color: black;
font-size: larger;
font-weight: 450;
}
.welcomeTitle{
    background-color: #DFD7BF;
    color: black;
    margin-bottom: 0;
    font-size: larger;
}
/* set mode light svg */
#header_top ul li #lightBtn{
  cursor: pointer;
  }
  #header_top ul li #darkBtn{
      cursor: pointer;
      }
/*********End____mode*********/


/* {{{css for body:}}} */
body{
  box-sizing: border-box;
}





  @media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

/* ------------------------------------------------------------ */
