/* ----{-View:checkout_process -} */
#totalPriceCard{
    background-color: bisque;
    letter-spacing: 2px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#discountsDetailsTable{
    background-color: azure;
}

#discountsDetailsBtn{
    font-size: 20px;
    font-family: Verdana;
    letter-spacing: 2px;
    font-weight: bold;
}
