/* footer */

footer #footer_home{
    position: static;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color:#20c997;
  }

  #github_link{
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px;
      }
  #github_link:hover{
color: #f26522;
  }


 /* end_footer */










 /* header */
 #header_top{
    width: 100%;
    background-color: #fd7e14 ;
     /* clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%); */
     border-radius: 10%;
    height: auto;
    padding: 10px 0px;
    position: relative;
}
#header_top ul{
margin-left:50px;
}

header #header_home{
    background-image: url(../../public/images/image_bg.jpg);
    width: 100%;
    height: fit-content;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}


#languageSelect{
    width: 100px;
    text-align: center;
}
#languageSelect:hover{
    color: #fd7e14;
font-weight: bolder;
}


#user_dropdown{
position: absolute;
right: 0;
font: bold;
}

#user_dropdown ul li a{
    color: black;
    font-weight: bold;
    font-size: large;
    }
#user_dropdown ul li a:hover{
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 4px;
    }


    #search_by_cat_home button{
        background-color: #fd7e14 ;
        font-weight: bold;
        font-size: medium;
    }
    #search_by_cat_home button:hover{
        background-color: aliceblue ;
        font-weight: bold;
        font-size: medium;
    }

    #cart_wishlist ul li a{
        color: black;
        font-weight:bold ;
        font-size: medium;
        }
        #cart_wishlist ul li a:hover{
            color: #219ebc;
            font-weight:bold ;
            font-size: bold;
            }




/* banner section start */
.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}

/* banner section end */


 /* end_header */


/* side_bar */
#home_side_bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: black;
    color: aliceblue;
}
#home_side_bar ul li a{
    color: aliceblue;
    font-size: large;
}
#home_side_bar ul li a:hover{
    color: #f26522;
    font-weight: bold;
    font-size: larger;

}
#close_icon:hover{
    color: #f26522;
}
#close_icon{
    color:aliceblue ;
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 15px;

}
#home_sidebar_links{
     padding-top: 10px;
}
/* end sidebar */





 /* section content */
#content{
    height: 100em;
    width: 100%;
}
/* slider of search by category */
.slider-container {
    position: relative;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }


  .slide {
    flex: 0 0 20%;
  }

  .slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .slider-control {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;
  }

  .slider-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .prev {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .next {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .card-body a {
    text-decoration: none;
    text-align: center
  }
  .card-body a:hover {
    text-decoration: none;
    text-align: center;
    color: #f26522;
  }
  #home_title{
    font-family: Muli, sans-serif ;
    font-style: normal ;
   font-size: 32px ;
   font-weight: 700;
    line-height: 38px;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  }


  /* --------animation code
 .slider{
    animation: slide 60s linear infinite;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
    ---------*/


/* end_of slider of search by category */

/* slider of Products with discounts */
.card_slider2:hover,.card_slider1:hover{
  border: gold solid 2px;
}


/* end_slider of Products with discounts */


 /* end content */
